# Fake GRUB config for testing parsers
menuentry 'Arch Linux' --class arch --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-UUID' {
	load_video
	set gfxpayload=keep
	insmod gzio
	insmod part_gpt
	insmod ext2
	search --no-floppy --fs-uuid --set=root UUID
	echo	'Loading Linux linux ...'
	linux	/boot/vmlinuz-linux root=UUID=UUID rw  loglevel=3 quiet
	echo	'Loading initial ramdisk ...'
	initrd	/boot/initramfs-linux.img
}
menuentry 'Windows 11' --class windows --class os $menuentry_id_option 'osprober-efi-UUID' {
	insmod part_gpt
	insmod fat
	search --no-floppy --fs-uuid --set=root UUID
	chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}
